/*Classes*/
body{
    font-family: sans-serif;
}
.main-class{
    background-color: rgb(101, 2, 4); 
    width: 100%; 
    height: 20px;
}
.main-heading{
    text-align: center; 
    font-family:'Times New Roman', Times, serif;
}
.job-form-1{
    display: grid;
    grid-template-columns: 30% 33% 33%;
}
.jobform{
    width: calc(100% - 860px);
    max-width: 1090px;
    min-width: 590px; 
    
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.fields{
    border: none;
}
.tags p{
    display: inline;
}
.tags{
    color: rgb(150,5,12);
    
    display: grid;
    grid-template-columns: 1% 99%;
}
.mini-section{
    display: grid;
    grid-template-columns: 4px auto;
}
.input-field{
    display: grid;
    grid-template-columns: 4px 30% auto; 
    
}

.select-field{
    width: 70%;
    height: 28px;
    outline: none; 
    border-style: solid;
    border-color: hsla(0, 0%, 83%, 0.7);
    border-width: 2px;
    border-radius: 5px;
    padding-left: 4px;


    appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: url("dropdown.png") no-repeat right 5px center;
  background-size: 28px;
  padding-right: 30px;
}
.addr{
    display: block;
    text-align: center;
}
.div-btn{
    text-align: center;
}
.btn {
  background: rgb(101,2,4);
  color: white;
  border: none;
  padding: 10px 20px;
  width: 13%;
  border-radius: 3px;
  cursor: pointer;
}

/*elements*/
input{
    height: 25px;
    width: 90%;
    outline: none; 
    border-style: solid;
    border-color: hsla(0, 0%, 83%, 0.7);
    border-width: 2px;
    border-radius: 5px;
}
small{
    color: hsla(0, 0%, 50%, 0.9);
    font-size: 10px;
    padding-top: 0%;
    display: block;
}


/*id*/
#cntry{
    display: grid;
    grid-template-columns: 40% 18% 27%;
}
#names{
    display: grid;
    grid-template-columns: 40% 60%;
}
#PhNo{
    display: grid;
    grid-template-columns: 9% 12px 75%;
}
#name-left, #name-right {
    display: flex;
    flex-direction: column;
}

#resume{
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: #ccc;
    height: 25px;
    width: 70%;

}
#zipcode{
    text-indent: 8px;
}

#hobies{
    text-indent: 8px;
    width: 90%;
}
#education{
    width: 50%;
}
#cntry small{
    text-align: center;
}
#fanme{
    width: 90%;
}
#hobies-label{
    text-indent: 4px;
}
#myhobies{
    display: grid;
    grid-template-columns: 4px auto;
}