/*Classes*/
body{
    font-family: sans-serif;
}
.jobform{
    width: calc(100% - 830px);
    max-width: 1090px;
    min-width: 700px; /* prevents breaking on smaller desktop */
    margin: 20px auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.fields{
    border: none;
}
.tags{
    color: rgb(150,5,12);
    margin-top: 5px;
    margin-left: 4px;
}
.mini-section{
    margin-left: 4px;
}
.input-field{
    display: grid;
    grid-template-columns: 30% 70%; /* Or use 3fr 7fr */
    margin-top: 13px;
}
.subfields{
    margin-top: 0px;
    font-size: 11px;
}
.select-field{
    width: 70%;
    height: 28px;
    outline: none; 
    border-style: solid;
    border-color: hsla(0, 0%, 83%, 0.7);
    border-width: 2px;
    border-radius: 5px;
    padding-left: 4px;


    appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: url("dropdown.png") no-repeat right 5px center;
  background-size: 28px;
  padding-right: 30px;
}
.addr{
    margin-left: 45%;
}
.btn {
  background: rgb(101,2,4);
  color: white;
  border: none;
  padding: 10px 20px;
  width: 13%;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 50%;
  margin-top: 12px;
}
.input-field-left{
    margin-left: 4px;
}

/*elements*/
input{
    height: 25px;
    width: 90%;
    outline: none; 
    border-style: solid;
    border-color: hsla(0, 0%, 83%, 0.7);
    border-width: 2px;
    border-radius: 5px;
}
small{
    color: hsla(0, 0%, 50%, 0.9);
    font-size: 10px;
    padding-top: 0%;
    display: block;
}


/*id*/
#cntry{
    display: grid;
    grid-template-columns: 40% 18% 27%;
}
#names{
    display: grid;
    grid-template-columns: 40% 60%;
}
#PhNo{
    display: grid;
    grid-template-columns: 9% 75%;
}
#name-left, #name-right {
    display: flex;
    flex-direction: column;
}

#resume{
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: #ccc;
    height: 25px;
    width: 70%;

}
#zipcode{
    margin-left: 8px;
}
#phoneNumber2{
    margin-left: 8px;
}
#hobies{
    margin-left: 4px;
    width: 90%;
}
#education{
    width: 50%;
}
#cntry small{
    margin-left: 40%;
}